{% extends 'shop/basic.html' %}
{% block title %}Contact {% endblock %}
{% block body %} 
<div class="container my-4">
  <h3>Contact us</h3><br>
   <form action="/shop/contact/" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter you name">
  </div>
  <div class="form-group">
    <label for="email">Enter Your Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
    
  </div>
  <div class="form-group">
    <label for="phone no">Phone no</label>
    <input type="tel" class="form-control" id="phone no" name="phone" placeholder="Enter your phone no.">
  
  </div>
  <div class="form-group">
    <label for="desc">How may i help u?</label>
    <textarea class="form-control" id="address" name="desc" rows="3"></textarea>
  </div>
      <button type="submit" class="btn btn-danger">Submit</button>
</form>
</div>

  {% endblock %}

{% block js %}
<script>
{% if than %}
alert('Your contact form has been submitted succesfully')
document.location="/shop"
{% endif %}

</script>
  {% endblock %}

